@import "@/styles/variables";

.container {
  width:          100%;
  display:        flex;
  flex-direction: row;

  .content {
    width: 100%;
    @extend %transition;

    &.chatOpen {
      margin-right: 550px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}